<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Espoir Shop</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        
</head>

<body>
    <header
        class="fixed top-0 left-0 right-0 z-50 flex items-center justify-between bg-white px-4 py-4 border-b shadow">
        <div class='flex flex-wrap items-center gap-5 w-full'>
            <a href="/">
                <!-- <img src="https://readymadeui.com/readymadeui.svg" alt="logo" class='w-36' /> -->
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVsQbLNkpYmVmoLActF7AIvUSL1ZXaPCAqgg&s"
                    alt="" class="w-[100px]">
            </a>

            <div id="collapseMenu"
                class='max-lg:hidden lg:!block max-lg:w-full max-lg:fixed max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-50 max-lg:before:inset-0 max-lg:before:z-50'>
                <button id="toggleClose" class='lg:hidden fixed top-2 right-4 z-[100] rounded-full bg-white p-3'>
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 fill-black" viewBox="0 0 320.591 320.591">
                        <path
                            d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
                            data-original="#000000"></path>
                        <path
                            d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
                            data-original="#000000"></path>
                    </svg>
                </button>

                <ul
                    class='lg:flex lg:ml-14 lg:gap-x-5 max-lg:space-y-3 max-lg:fixed max-lg:bg-white max-lg:w-1/2 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50'>
                    <li class='mb-6 hidden max-lg:block'>
                        <a href="javascript:void(0)"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVsQbLNkpYmVmoLActF7AIvUSL1ZXaPCAqgg&s" alt="logo"
                                class='w-36' />
                        </a>
                    </li>
                    <li class='max-lg:border-b max-lg:py-3 px-3'>
                        <a href='/'
                            class='lg:hover:text-[#007bff] text-[#007bff] block font-semibold text-[15px]'>Home</a>
                    </li>
                    <li class='max-lg:border-b max-lg:py-3 px-3'><a href='/'
                            class='lg:hover:text-[#007bff] text-gray-500 block font-semibold text-[15px]'>Products</a>
                    </li>
                    <li class='max-lg:border-b max-lg:py-3 px-3'>
                        <a href='#'
                            class='lg:hover:text-[#007bff] text-gray-500 block font-semibold text-[15px]'>Categories</a>
                    </li>
                    <li class='max-lg:border-b max-lg:py-3 px-3'><a href='#'
                            class='lg:hover:text-[#007bff] text-gray-500 block font-semibold text-[15px]'>Contact</a>
                    </li>
                </ul>
            </div>

            <button id="toggleOpen" class='lg:hidden ml-auto'>
                <svg class="w-7 h-7" fill="#000" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>

            <div class='flex lg:ml-auto max-lg:w-full'>
                <form
                    class='flex xl:w-80 max-xl:w-full bg-gray-100 px-6 py-3 rounded outline outline-transparent focus-within:outline-[#007bff] focus-within:bg-transparent'>
                    <input type='text' placeholder='Search something...'
                        class='w-full text-sm bg-transparent rounded outline-none pr-2' name="item-name" />
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192.904 192.904" width="16px"
                            class="cursor-pointer fill-gray-400">
                            <path
                                d="m190.707 180.101-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 0 0 5.303 2.197 7.498 7.498 0 0 0 5.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z">
                            </path>
                        </svg>
                    </button>
                </form>
                <div class='flex items-center max-lg:ml-auto space-x-5 ml-4 ' id="drawerButton">
                    <span class="relative">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px"
                            class="cursor-pointer hover:fill-[#007bff] inline" viewBox="0 0 512 512">
                            <path
                                d="M164.96 300.004h.024c.02 0 .04-.004.059-.004H437a15.003 15.003 0 0 0 14.422-10.879l60-210a15.003 15.003 0 0 0-2.445-13.152A15.006 15.006 0 0 0 497 60H130.367l-10.722-48.254A15.003 15.003 0 0 0 105 0H15C6.715 0 0 6.715 0 15s6.715 15 15 15h77.969c1.898 8.55 51.312 230.918 54.156 243.71C131.184 280.64 120 296.536 120 315c0 24.812 20.188 45 45 45h272c8.285 0 15-6.715 15-15s-6.715-15-15-15H165c-8.27 0-15-6.73-15-15 0-8.258 6.707-14.977 14.96-14.996zM477.114 90l-51.43 180H177.032l-40-180zM150 405c0 24.813 20.188 45 45 45s45-20.188 45-45-20.188-45-45-45-45 20.188-45 45zm45-15c8.27 0 15 6.73 15 15s-6.73 15-15 15-15-6.73-15-15 6.73-15 15-15zm167 15c0 24.813 20.188 45 45 45s45-20.188 45-45-20.188-45-45-45-45 20.188-45 45zm45-15c8.27 0 15 6.73 15 15s-6.73 15-15 15-15-6.73-15-15 6.73-15 15-15zm0 0"
                                data-original="#000000"></path>
                        </svg>
                        <span id="length-cart"
                            class="absolute left-auto -ml-1 top-0 rounded-full bg-red-500 px-1 py-0 text-xs text-white">0</span>
                    </span>

                    <!-- <button id="toggleOpen" class='lg:hidden !ml-7'>
                        <svg class="w-7 h-7" fill="#000" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button> -->
                </div>
            </div>
        </div>
    </header>

    <!-- Drawer component -->
    <div id="drawer-example" style="box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 31%);"
        class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80 mt-[12vh]"
        tabindex="-1" aria-labelledby="drawer-label">
        <h5 id="drawer-label" class="inline-flex items-center mb-4 ml-8 text-base font-semibold text-gray-500">
            Cart
        </h5>
        <button id="drawerCloseButton" type="button" aria-controls="drawer-example"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 left-2.5 flex items-center justify-center">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close menu</span>
        </button>
        <div id='cart-container' class="overflow-y-auto px-[10px] h-[65vh]">
        </div>
        <div class="text-center py-[20px]">
            <a href="/checkout"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                type="button" data-drawer-target="drawer-example" data-drawer-show="drawer-example"
                aria-controls="drawer-example">
                Checkout
            </a>
        </div>
    </div>


    <div class="md:px-28 md:py-32 sm:px-20 sm:py-32">
        {% block content%}{%endblock%}
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#toggleOpen').click(function () {
                $('#collapseMenu').toggleClass('max-lg:hidden');
            });

            $('#toggleClose').click(function () {
                $('#collapseMenu').toggleClass('max-lg:hidden');
            });
        });

        if (localStorage.getItem('cart') == null) {
            var cart = {}
        } else {
            cart = JSON.parse(localStorage.getItem('cart'))
        }
        document.getElementById("length-cart").innerHTML = Object.keys(cart).length


        const drawerButton = document.getElementById('drawerButton');
        const drawer = document.getElementById('drawer-example');
        const drawerCloseButton = document.getElementById('drawerCloseButton');

        drawerButton.addEventListener('click', () => {
            var cartHtml = "";
            for (var x in cart) {
                var title = cart[x][1]
                var qte = cart[x][0]
                var category = cart[x][3]
                var image = cart[x][4]
                var container =
                    '<div class="flex flex-col min-[500px]:flex-row min-[500px]:items-center gap-5 py-2 border-b border-gray-200 group">' +
                    '<div class="border border-gray-300 rounded-lg p-1 w-full md:max-w-[95px]">' +
                    '<img src="'+image+'" alt="perfume bottle image" class="mx-auto rounded-xl w-[5vw] md:w-[126px]">' +
                    '</div>' +
                    '<div class="w-full flex flex-col justify-between">' +
                    '<div class="flex flex-col text-center min-[500px]:text-left">' +
                    '<h6 class="font-semibold text-base leading-7 text-black">' + title + '</h6>' +
                    '<h6 class="font-normal text-base leading-7 text-gray-500">'+category+'</h6>' +
                    '</div>' +
                    '<div class="flex items-center justify-center md:justify-end mt-3 min-[500px]:mt-0 h-full">' +
                    '<p class="font-bold text-lg leading-8 text-gray-600 transition-all duration-300 group-hover:text-indigo-600">' +
                    qte +
                    '</p>' +
                    '</div>' +
                    '</div>' +
                    '</div>'
                cartHtml += container
            }

            document.getElementById('cart-container').innerHTML = cartHtml
            drawer.classList.toggle('translate-x-full');
        });

        drawerCloseButton.addEventListener('click', () => {
            drawer.classList.add('translate-x-full');
        });
    </script>
    {% block js%}{%endblock%}
</body>

</html>